<!DOCTYPE html>
html(lang="jp")
head
  meta(charset="UTF-8")
  title React Tutorial
body
  #content
    
  script(src="https://code.jquery.com/jquery-2.2.1.min.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js")
  script(src="//cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js")
  script(src="./assets/js/index.js")
  
